# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data artifacts
data/raw/**/*
data/processed/**/*
models/**/*

# OS
.DS_Store
Thumbs.db
